body {
  width: 100%;
}

.post {
  text-align: center;
  padding: 0 25px 25px 25px;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
}

.blog-header {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.blog-series {
  text-decoration: underline;
}

.blog-series:hover {
  color: #333;
  text-decoration: none;
}

.blog-series {
  color: #333;
}

img {
  width: 95%;
  margin-bottom: 25px;
}

.blog-sidebar-content {
  font-family: 'Amatic SC', cursive;
  font-size: 22px;
}

.blog-sidebar-content.affix {
  position:fixed;
  top: 20px;
  width: 68px;
}

.blog-sidebar-content.affix-top {
  width: 68px;
}

.blog-sidebar-title {
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav>li>a {
  padding: 2px 15px;
}
