{:deps {io.github.borkdude/quickblog
        #_"You use the newest SHA here:"
        {:git/sha "6a865f135fdcf73f9ae33e5a562a387a9aeb86a6"}}
 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (def opts {:blog-title "ssjoleary"
                   :blog-description "Personal blog"})
  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}}}